
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	max-width: 50em;
}

.box {
	@apply shadow-lg;
}

.board {
	min-width: 15em;
	min-height: 15em;
	max-width: 50em;
	max-height: 50em;
	display: grid;
	grid-template-columns: repeat(var(--n), 1fr);
	grid-template-rows: repeat(var(--n), 1fr);
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid gray;
	border-radius: 25%;
	margin: 2px;
	vertical-align: middle;
	font-size: x-large;
	aspect-ratio: 1/1;
}

.cell.empty {
	background-color: antiquewhite;
}

.controls {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
}

.controls button {
	margin: 5px;
}

#help {
	position: absolute;
	right: 0;
	width: 20em;
	min-width: fit-content;
	top: 0;
	box-shadow: 0px 0px 15px black;
	background: white;
	padding: 10px;
	-webkit-transform-origin: 100% 50%;
	-webkit-transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	outline: 0;
	-webkit-transform: translateX(0%);
}

.panel {
	position: fixed;
	left: 0;
	width: 20em;
	top: 0;
	bottom: 0;
	box-shadow: 0px 0px 15px black;
	background: white;
	padding: 10px;
	-webkit-transform-origin: 100% 50%;
	-webkit-transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	outline: 0;
	-webkit-transform: translateX(0%);	
}

#menu, #help {
	@apply panel;
}

#help {
	left: auto;
	right: 0;
}

#help.hidden {
	display: none;
}

.unimplemented {
	color: gray;
}

button.unimplemented {
	cursor: not-allowed;
}

.box {
	@apply shadow-lg p-4;
}

.box h2 {
	@apply text-2xl font-bold text-center;
}

.box  {
	@apply text-center;
}

i {
	padding-right: 0.5em;
}

h2 {
	@apply text-2xl;
}

.state {
	@apply flex flex-col;
}

.btn-primary {
	@apply bg-blue-500 shadow-lg shadow-blue-500/50 p-1 rounded
}